[package]
name = "fastpay-sidecar-mock"
version.workspace = true
edition.workspace = true
license.workspace = true

[features]
default = ["native"]
native = []
wasm = []

[dependencies]
fastpay-types = { path = "../fastpay-types" }
thiserror.workspace = true
